<html>
  <head>
    <title>Compromised Account Reset</title>
    <link rel="stylesheet", href="styles/index.css">
  </head>
  <body>
    <header>
      <h3>Compromised Account Reset</h3>
    </header>

    <article class="form">
      <form action="reset" method="post">
        <section class="fields">
          <label>Username: </label><input type="text", id="username", name="username" />
        </section>
        <section class="buttons">
          <input type="submit", value="Reset Password" />
        </section>
      </form>
    </article>
  </body>
</html>